.commonStyle {
  background-color: greenyellow;
  height: 50px;
  border-bottom: 2px solid gray;
}
.commonStyle input {
  margin: 7px;
  width: -webkit-fill-available;
  height: 30px;
  border-radius: 5px;
  padding-left: 3px;
}
.floatingChatDiv {
  background-color: #a09eff;
  display: inline-block;
  height: 200px;
  position: absolute;
  left: 2vw;
  top: 126px;
}
